<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="tripod">

	<select id="sequence" resultType="int">
		select tripod_seq.nextval from dual
	</select>
	
	<insert id="write" parameterType="TripodDto">
		insert into tripod
			(tripod_no, board_no, lens_name)
		values
			(#{tripodNo}, #{boardNo}, #{tripodName})
	</insert>
	
</mapper>